# Dependencies
/vendor/
/node_modules/

# Composer
composer.lock

# IDE
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
/logs/*.log

# Environment
.env
.env.local

# Build artifacts
*.map

